@model MFPE_InsureityPortal_Client.Models.User

@{
    ViewData["Title"] = "Login";
}


<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h4>Agent Login</h4>
        <hr />
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.Message != null)
        {
            <p>@ViewBag.Message</p>
        }
    </div>
</div>



